## BoW 실습 1

In [3]:
docs = ['오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어', '오늘 동물원에서 원숭이에게 사과를 줬어']
#리스트로 만들어주기

In [4]:
#띄어쓰기로 토큰화 
doc_ls = []
for doc in docs: 
    doc_ls.append(doc.split(' '))
doc_ls

[['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '코끼리', '원숭이에게', '먹이를', '줬어'],
 ['오늘', '동물원에서', '원숭이에게', '사과를', '줬어']]

In [5]:
#빈 딕셔너리를 만들어 토큰들을 input으로 넣어줌 
from collections import defaultdict
word_id_dic = defaultdict(lambda: len(word_id_dic)) 
## 여기까지는 원핫인코딩이랑 같음

In [6]:
#인덱스 부여할 때 같은 단어 한번 거치면 다음에는 건너뛰도록 명령
for doc in doc_ls:
    for token in doc: 
        word_id_dic[token]
word_id_dic

defaultdict(<function __main__.<lambda>()>,
            {'오늘': 0,
             '동물원에서': 1,
             '코끼리': 2,
             '원숭이를': 3,
             '보고': 4,
             '원숭이에게': 5,
             '먹이를': 6,
             '줬어': 7,
             '사과를': 8})

In [8]:
# 문장의 각 단어들이 얼마나 자주 나오는지 단어들의 인덱스번호를 찾아 그 빈도수를 출력해줌.  
import numpy as np
BoW_ls = []
for i, doc in enumerate(doc_ls):
    bow = np.zeros(len(word_id_dic), dtype = int) 
    for token in doc:
        bow[word_id_dic[token]] += 1 #해당 토큰의 위치
    BoW_ls.append(bow.tolist())
BoW_ls

[[1, 1, 2, 1, 1, 1, 1, 1, 0], [1, 1, 0, 0, 0, 1, 0, 1, 1]]

In [1]:
#시각화 (실무에서는 이렇게 시각화하지 않음)

In [15]:
from IPython.core import display as ICD
import pandas as pd 
sorted_vocab = sorted((value, key) for key, value in word_id_dic.items())
print('sorted_vocab', sorted_vocab)

vocab = []
for v in sorted_vocab : 
    vocab.append(v[1]) #인덱스 빼고 단어들만 넣어주기
    
print('vocab', vocab)
print("\n\n")

for i in range(len(docs)):
    print('문서{} : {}'.format(i, docs[i])) # i는... 오늘 동물원에서 코끼리 원숭이를 보고 원숭이에게 먹이를 줬어(문장1) ; 오늘 동물원에서 원숭이에게 사과를 줬어(문장2)
    ICD.display(pd.DataFrame([BoW_ls[i]], columns = vocab))
    print("\n\n")

sorted_vocab [(0, '오늘'), (1, '동물원에서'), (2, '코끼리'), (3, '원숭이를'), (4, '보고'), (5, '원숭이에게'), (6, '먹이를'), (7, '줬어'), (8, '사과를')]
vocab ['오늘', '동물원에서', '코끼리', '원숭이를', '보고', '원숭이에게', '먹이를', '줬어', '사과를']



문서0 : 오늘 동물원에서 코끼리 원숭이를 보고 코끼리 원숭이에게 먹이를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    2     1   1      1    1   1    0

문서1 : 오늘 동물원에서 원숭이에게 사과를 줬어

   오늘  동물원에서  코끼리  원숭이를  보고  원숭이에게  먹이를  줬어  사과를
0   1      1    0     0   0      1    0   1    1

## BoW 실습 2

In [19]:
docs2 = ['나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해', 
       '나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해']

In [30]:
doc_ls2 = []
for doc2 in docs2: 
    doc_ls2.append(doc2.split())
doc_ls2

[['나는', '양념', '치킨을', '좋아해', '하지만', '후라이드', '치킨을', '싫어해'],
 ['나는', '후라이드', '치킨을', '좋아해', '하지만', '양념', '치킨을', '싫어해']]

In [31]:
from collections import defaultdict 
word_dic = defaultdict(lambda: len(word_dic))
word_dic #아직 dict에 아무것도 안 들어있음

defaultdict(<function __main__.<lambda>()>, {})

In [33]:
for doc_2 in doc_ls2:
    for token_2 in doc_2:
        word_dic[token_2]
word_dic

defaultdict(<function __main__.<lambda>()>,
            {'나는': 0,
             '양념': 1,
             '치킨을': 2,
             '좋아해': 3,
             '하지만': 4,
             '후라이드': 5,
             '싫어해': 6})

In [57]:
import numpy as np 
BoW_ls2 = []
for i, doc_2 in enumerate(doc_ls2): 
    bow2 = np.zeros(len(word_dic), dtype = int)
    for token_2 in doc_2: #중요!! 
        bow2[word_dic[token_2]] += 1
    BoW_ls2.append(bow2.tolist())
BoW_ls2

[[1, 1, 2, 1, 1, 1, 1], [1, 1, 2, 1, 1, 1, 1]]

In [58]:
#시각화 (Option)
from IPython.core import display as ICD
import pandas as pd 
sorted_vocab_2 = sorted((key, value) for key, value in word_dic.items())
print('sorted_vocab_2', sorted_vocab_2)

sorted_vocab_2 [('나는', 0), ('싫어해', 6), ('양념', 1), ('좋아해', 3), ('치킨을', 2), ('하지만', 4), ('후라이드', 5)]

In [59]:
vocab_2 = []
for v2 in sorted_vocab_2:
    vocab_2.append(v2[0])
print('vocab_2', vocab_2)

vocab_2 ['나는', '싫어해', '양념', '좋아해', '치킨을', '하지만', '후라이드']

In [60]:
for i2 in range(len(docs2)):
    print('문장{} : {}'.format(i2, docs2[i2])) 
    ICD.display(pd.DataFrame([BoW_ls2[i2]], columns=vocab_2))
    print('\n\n')

문장0 : 나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해

   나는  싫어해  양념  좋아해  치킨을  하지만  후라이드
0   1    1   2    1    1    1     1

문장1 : 나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해

   나는  싫어해  양념  좋아해  치킨을  하지만  후라이드
0   1    1   2    1    1    1     1